.App {
  text-align: center;
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
}


.flex-row img {
 display: flex;
 object-fit: cover;
 width: 100px;
 max-width: 100px;
 max-height: 100%;
 height:100px;
 padding-right: 1px;
}


#root{
  border-color: #b3dced; /* Old browsers */;
  background-color: #b3dced;
  border-style: solid;
  border-width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 20px;
}

.form-style{
    border-style: solid;
    border-color: grey;
    margin: auto;
    width: 50%;
    padding: 30px;
    text-align: center;
}



#button-row{
  padding-top: 20px;
  padding-bottom: 20px;
}

#cl-search{
  padding-top: 20px;
  margin-right: 20px;
}

#gl-search{
  padding-top: 20px;
  margin-left: 20px;
}

#gregs-list-input{
    margin-left: 20px;
}

#pic-view{
  padding-top: 20px;
}

#search-input{
 margin-right: 20px;
}

#pic-show{
  display: flex;
  max-width: 525px;
  max-height: 250px;
}

#post-list-gallery{
  display: flex;
  height: 380px;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  background-color: #eea3bd;
}

  /*style below is for card flipping*/
#f1_container {
  display: flex;
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 280px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  /*display: block;*/
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #ff0055;
}
