.App {
  text-align: center;
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
}
/*
.flex-row > [class*="col-"]{
  display: flex;
  flex-direction: column;
}*/

.flex-row img {
  /*min-width: 0;*/
  /*width: auto;
  max-height: 200px;*/
  object-fit: cover;
 width: auto;
 max-width: 230px;
 height:200px;
 padding-right: 35px;
}

#button-row{
  padding-top: 20px;
}

#pic-view{
  padding-top: 20px;
  padding-bottom: 25px;
}

#pic-show{
  max-width: 525px;
}
